CONEXÃO COM EXCEL

In [62]:
import pandas as pd

df_loja_roupas = pd.read_excel('Registro.Vendas.xlsx', sheet_name='BaseVendas')

print(df_loja_roupas.head(4))

        Data    Código Funcionário   Produto    Marca  Valor
0 2019-01-01  Q2L7D8X5     Gabriel    Chapéu     Azul   90.0
1 2019-01-01  J1V2E1V9     Marcela    Chapéu     Azul    NaN
2 2019-01-01  R7O1C8X6        Iago    Camisa   Branca  160.0
3 2019-01-01  C1R7J7O5       Kelly  Camiseta  Amarela  100.0

PRÉ-ANALISE

In [64]:
a = df_loja_roupas.isnull().sum()
b = df_loja_roupas.describe()
df_loja_roupas[df_loja_roupas.isnull().T.any()]
df_loja_roupas.boxplot(column=['Valor'])

print(a)
print(b)

Data           0
Código         0
Funcionário    0
Produto        0
Marca          0
Valor          1
dtype: int64
             Valor
count  3498.000000
mean    105.923385
std      50.201389
min      30.000000
25%      80.000000
50%     100.000000
75%     160.000000
max     180.000000

LIMPAR DADOS NULOS

In [65]:
df_loja_roupas.loc[df_loja_roupas.Funcionário.isnull(),'Funcionário'] = 'Sem Nome'
df_loja_roupas.loc[df_loja_roupas.Código.isnull(),'Código'] = 'Código'
df_loja_roupas.loc[df_loja_roupas.Data.isnull(),'Data'] = '1/1/2020'
df_loja_roupas.loc[df_loja_roupas.Produto.isnull(),'Produto'] = 'Sem Nome'
df_loja_roupas.loc[df_loja_roupas.Marca.isnull(),'Marca'] = 'Cor'
c = df_loja_roupas.loc[df_loja_roupas.Valor.isnull(),'Valor'] = '0'
print(c)
print(df_loja_roupas)

0
           Data    Código Funcionário   Produto     Marca  Valor
0    2019-01-01  Q2L7D8X5     Gabriel    Chapéu      Azul   90.0
1    2019-01-01  J1V2E1V9     Marcela    Chapéu      Azul      0
2    2019-01-01  R7O1C8X6        Iago    Camisa    Branca  160.0
3    2019-01-01  C1R7J7O5       Kelly  Camiseta   Amarela  100.0
4    2019-01-01  K6M7G7J5     Marcela   Chinelo     Verde   30.0
...         ...       ...         ...       ...       ...    ...
3494 2019-12-31  N8T9O1Q4      Helena     Calça  Vermelha  180.0
3495 2019-12-31  C6G1E7X4      Amanda     Calça  Vermelha  180.0
3496 2019-12-31  U7U2M7J4       Fábio  Camiseta      Azul  100.0
3497 2019-12-31  E2X6F4D9      Daniel   Bermuda      Azul  150.0
3498 2019-12-31  M5K6V4P5       Fábio    Chapéu   Amarela   90.0

[3499 rows x 6 columns]

VERIFICAR DADOS DUPLICADOS

In [66]:
df_loja_roupas[df_loja_roupas.Funcionário.duplicated()]
d = df_loja_roupas.Código.duplicated().sum()
print(d)

0

FORMATO DA DATA

In [67]:
df_loja_roupas.Data = pd.to_datetime(df_loja_roupas.Data, format='%m/%d/%Y')
print(df_loja_roupas.Data)

0      2019-01-01
1      2019-01-01
2      2019-01-01
3      2019-01-01
4      2019-01-01
          ...
3494   2019-12-31
3495   2019-12-31
3496   2019-12-31
3497   2019-12-31
3498   2019-12-31
Name: Data, Length: 3499, dtype: datetime64[ns]

GERANDO NOVOS DADOS

In [68]:
df_loja_roupas['pagamento'] = 1
df_loja_roupas.loc[df_loja_roupas.Data.isnull(), 'pagamento'] = 0

print(df_loja_roupas)

           Data    Código Funcionário   Produto     Marca  Valor  pagamento
0    2019-01-01  Q2L7D8X5     Gabriel    Chapéu      Azul   90.0          1
1    2019-01-01  J1V2E1V9     Marcela    Chapéu      Azul      0          1
2    2019-01-01  R7O1C8X6        Iago    Camisa    Branca  160.0          1
3    2019-01-01  C1R7J7O5       Kelly  Camiseta   Amarela  100.0          1
4    2019-01-01  K6M7G7J5     Marcela   Chinelo     Verde   30.0          1
...         ...       ...         ...       ...       ...    ...        ...
3494 2019-12-31  N8T9O1Q4      Helena     Calça  Vermelha  180.0          1
3495 2019-12-31  C6G1E7X4      Amanda     Calça  Vermelha  180.0          1
3496 2019-12-31  U7U2M7J4       Fábio  Camiseta      Azul  100.0          1
3497 2019-12-31  E2X6F4D9      Daniel   Bermuda      Azul  150.0          1
3498 2019-12-31  M5K6V4P5       Fábio    Chapéu   Amarela   90.0          1

[3499 rows x 7 columns]

Agrupando Colunas

In [69]:
e = df_loja_roupas.groupby(['Produto', 'Marca', 'Valor']).agg(Vendas=('Valor', 'sum'))
print(e)

                          Vendas
Produto  Marca    Valor
Bermuda  Amarela  150.0  11400.0
         Azul     150.0  15000.0
         Branca   150.0  17100.0
         Verde    150.0  14550.0
         Vermelha 150.0  12600.0
Boné     Amarela  50.0    5000.0
         Azul     50.0    3650.0
         Branca   50.0    4300.0
         Verde    50.0    4800.0
         Vermelha 50.0    4100.0
Calça    Amarela  180.0  15300.0
         Azul     180.0  16380.0
         Branca   180.0  18000.0
         Verde    180.0  15120.0
         Vermelha 180.0  14040.0
Camisa   Amarela  160.0  14240.0
         Azul     160.0  14080.0
         Branca   160.0  11680.0
         Verde    160.0  14240.0
         Vermelha 160.0  16000.0
Camiseta Amarela  100.0   8600.0
         Azul     100.0   8200.0
         Branca   100.0   8700.0
         Verde    100.0   9700.0
         Vermelha 100.0   8800.0
Chapéu   Amarela  90.0    7560.0
         Azul     90.0    8010.0
                  0            0
         Branca   90.0    7110.0
         Verde    90.0    7380.0
         Vermelha 90.0    7740.0
Chinelo  Amarela  30.0    2520.0
         Azul     30.0    2880.0
         Branca   30.0    2550.0
         Verde    30.0    2640.0
         Vermelha 30.0    2070.0
Saia     Amarela  80.0    6640.0
         Azul     80.0    6960.0
         Branca   80.0    6880.0
         Verde    80.0    7200.0
         Vermelha 80.0    6800.0

In [70]:
f = df_loja_roupas.groupby('Produto').size().reset_index(name='Quantidade Vendidas')
print(f)

    Produto  Quantidade Vendidas
0   Bermuda                  471
1      Boné                  437
2     Calça                  438
3    Camisa                  439
4  Camiseta                  440
5    Chapéu                  421
6   Chinelo                  422
7      Saia                  431

In [71]:
df_loja_roupas['Mes'] = df_loja_roupas['Data'].dt.month
g = df_loja_roupas.groupby('Mes').size().reset_index(name='Mes Venda')
print(g)

    Mes  Mes Venda
0     1        322
1     2        245
2     3        289
3     4        277
4     5        329
5     6        277
6     7        293
7     8        312
8     9        265
9    10        295
10   11        305
11   12        290